<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <description>Spring Based RPC Node</description>
    <display-name>Spring Based RPC Node</display-name>

    <servlet>
        <servlet-name>sbrn</servlet-name>
        <servlet-class>com.toolazydogs.jr4me.server.JsonRpcServlet</servlet-class>
        <init-param>
            <param-name>com.toolazydogs.jr4me.packages</param-name>
            <param-value>com.acme.service,com.acme.spring</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>sbrn</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
    </listener>

</web-app>
